 /* styles.css */
/* styles.css */
.layout-frame {
    width: 100%;
    max-width: 13200px; /* Set a maximum width for larger screens */
    height: 40; /* Allow the height to adjust based on content */
    margin: 0 auto; /* Center the element horizontally */
    position: relative; /* Use relative positioning instead of absolute */
    overflow: hidden; /* Hide overflow content */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  }
  
  /* Optional: Add media queries to adjust the design for different screen sizes */
  @media (max-width: 768px) {
    .layout-frame {
      max-width: 100%; /* Adjust the width for smaller screens */
    }
  }
  
.navbar {
  width: 100% !important;
  border-radius: 20px;
  color: white;
  text-align:100px;
  position: fixed;
  top: 0;
  z-index: 100; 

}
.colored-text {
    color: red; /* You can replace "red" with your desired color */
  }

.navbar-content {
  display: flex;
  align-items: center;
  position: fixed;
  text-align:100px;
  max-width: 1200px;
  margin-left: 1490px;
  padding: 10px 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.42857143;
  box-sizing: border-box;
  position: top;
  top: 0;
  border-radius: 200px;
  z-index: 100; 
}

.navbar a {
  text-decoration: none;
  color: #EC3729 ;
  padding: 10px 15px;
  margin-right: 15px; 
  
}


.navbar a:last-child {
  margin-right: 0;
}

  
 tt{
    background-color: #EC3729;
    text-decoration-color:red  ;
 }
 
 
 
 body{
    /* background-image: url(./images/24.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

 } 
.d-flex{
    padding-left :400px;
  


}
.butt{
    display: inline-block;
    padding: 10px 20px; /* Adjust the padding to control the button size */
    font-size: 26px; /* Adjust the font size */
    font-weight: bold;
    text-align: center;
    text-decoration: red;
    border: none;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
    background-color: red; /* Primary button color */
  color: #fff;
  }
  .gradient {
    background: linear-gradient(50deg, #FA3F31 ,#F1F1F1);
  }

.pppp{
    height: 88px;
    font-weight: 400;
    font-size: 1.0em; 
    
}
.logo  {
size-adjust: small;
position: right;
margin-left: 30px;
margin-right: 80px;

}

.Navbar{
    opacity: 0.9px;

}

.image{
position: left ;

}
.home{
    margin-right: 80px;
    
    color: white;
    font-size: 25px;
}
.home:hover{
    color: black;
}
.igg{
    padding-left :1300px;
     
}
.card-content .content-block .bg {
    padding: 10px;
    margin: 100px;
    border-bottom: 1px solid #e6e6e6;
    width: 400px;
    height: 400px;
    opacity: 0.6000;

    size-adjust: small;



}


.hi{
    
    padding-left :100px;
    padding-top: 20px;
    padding-bottom: px;
   
}


.lo{
    margin-top: -147px;
}

.cards-title{
text-align: center;
}

.para{
    padding: 20px;


}
.cards-title{

    margin: 10px;
}

.lgg{

    text-align: center;
    border-collapse: collapse;
    margin: 10px;

}
.trr{
    width:100px ;
    height: 40px;
    text-align: center;
    margin-left: 300px;
}

.pp{
    color: red;
   margin: 20px;
   text-align: center;
padding-left: 20px;
}


.slider{
    min-height: 700px;

 margin-left: 150px; 


}



.input{
    background-color: papayawhip;
    padding-right: 100px;
    margin-left: 20px; 
}


.mapp{
    background-color: black;
    margin: 180px;
}

.tabb{
    background-color: black;
    margin: 180px;
    padding-left : 200px;
}


/* this is new navbar code */
  /* @import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
  html,
  body {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Quicksand", sans-serif;
      font-size: 62.5%;
      font-size: 10px;
  }
  /*-- Inspiration taken from abdo steif -->
  /* --> https://codepen.io/abdosteif/pen/bRoyMb?editors=1100*/
  
  /* Navbar section */
  
  /* .nav {
      width: 100%;
      height: 65px;
      position: fixed;
      line-height: 65px;
      text-align: center;
  }
  
  .nav div.logo {
      float: left;
      width: auto;
      height: auto;
      padding-left: 3rem;
  }
  
  .nav div.logo a {
      text-decoration: none;
      color: #fff;
      font-size: 2.5rem;
  }
  
  .nav div.logo a:hover {
      color: #00E676;
  }
  
  .nav div.main_list {
      height: 65px;
      float: right;
      position: top;
  }
  
  .nav div.main_list ul {
      width: 100%;
      height: 65px;
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
  }
  
  .nav div.main_list ul li {
      width: auto;
      height: 65px;
      padding: 0;
      padding-right: 3rem;
  }
  
  .nav div.main_list ul li a {
      text-decoration: none;
      color: red;
      line-height: 65px;
      font-size: 2.4rem;
  }
  
  .nav div.main_list ul li a:hover {
      color: #00E676;
  }
  
  
  /* Home section */
  
  /* .home {
      width: 100%;
      height: 100vh;
      
      background-position: center top;
      background-size:cover;
  }
  
  .navTrigger {
      display: none;
  }
  
  .nav {
      padding-top: 20px;
      padding-bottom: 20px;
      -webkit-transition: all 0.4s ease;
      transition: all 0.4s ease;
  }
  
  
  /* Media qurey section */
  
  /* @media screen and (min-width: 768px) and (max-width: 1024px) {
      .container {
          margin: 0;
      }
  }
  
  @media screen and (max-width:768px) {
      .navTrigger {
          display: block;
      }
      .nav div.logo {
          margin-left: 15px;
      }
      .nav div.main_list {
          width: 100%;
          height: 0;
          overflow: hidden;
      }
      .nav div.show_list {
          height: auto;
          display: none;
      }
      .nav div.main_list ul {
          flex-direction: column;
          width: 100%;
          height: 100vh;
          right: 0;
          left: 0;
          bottom: 0;
          background-color: #111;
          /*same background color of navbar*/
          /* background-position: center top;
      }
      .nav div.main_list ul li {
          width: 100%;
          text-align: right;
      }
      .nav div.main_list ul li a {
          text-align: center;
          width: 100%;
          font-size: 3rem;
          padding: 20px;
      }
      .nav div.media_button {
          display: block;
      }
  }
  
  
  /* Animation */
  /* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */
  
  /* .navTrigger {
      cursor: pointer;
      width: 30px;
      height: 25px;
      margin: auto;
      position: absolute;
      right: 30px;
      top: 0;
      bottom: 0;
  }
  
  .navTrigger i {
      background-color: #fff;
      border-radius: 2px;
      content: '';
      display: block;
      width: 100%;
      height: 4px;
  }
  
  .navTrigger i:nth-child(1) {
      -webkit-animation: outT 0.8s backwards;
      animation: outT 0.8s backwards;
      -webkit-animation-direction: reverse;
      animation-direction: reverse;
  }
  
  .navTrigger i:nth-child(2) {
      margin: 5px 0;
      -webkit-animation: outM 0.8s backwards;
      animation: outM 0.8s backwards;
      -webkit-animation-direction: reverse;
      animation-direction: reverse;
  }
  
  .navTrigger i:nth-child(3) {
      -webkit-animation: outBtm 0.8s backwards;
      animation: outBtm 0.8s backwards;
      -webkit-animation-direction: reverse;
      animation-direction: reverse;
  }
  
  .navTrigger.active i:nth-child(1) {
      -webkit-animation: inT 0.8s forwards;
      animation: inT 0.8s forwards;
  }
  
  .navTrigger.active i:nth-child(2) {
      -webkit-animation: inM 0.8s forwards;
      animation: inM 0.8s forwards;
  }
  
  .navTrigger.active i:nth-child(3) {
      -webkit-animation: inBtm 0.8s forwards;
      animation: inBtm 0.8s forwards;
  }
  
  @-webkit-keyframes inM {
      50% {
          -webkit-transform: rotate(0deg);
      }
      100% {
          -webkit-transform: rotate(45deg);
      }
  }
   */
  /* @keyframes inM {
      50% {
          transform: rotate(0deg);
      }
      100% {
          transform: rotate(45deg);
      }
  }
  
  @-webkit-keyframes outM {
      50% {
          -webkit-transform: rotate(0deg);
      }
      100% {
          -webkit-transform: rotate(45deg);
      }
  }
  
  @keyframes outM {
      50% {
          transform: rotate(0deg);
      }
      100% {
          transform: rotate(45deg);
      }
  }
  
  @-webkit-keyframes inT {
      0% {
          -webkit-transform: translateY(0px) rotate(0deg);
      }
      50% {
          -webkit-transform: translateY(9px) rotate(0deg);
      }
      100% {
          -webkit-transform: translateY(9px) rotate(135deg);
      }
  }
  
  @keyframes inT {
      0% {
          transform: translateY(0px) rotate(0deg);
      }
      50% {
          transform: translateY(9px) rotate(0deg);
      }
      100% {
          transform: translateY(9px) rotate(135deg);
      }
  }
  
  @-webkit-keyframes outT {
      0% {
          -webkit-transform: translateY(0px) rotate(0deg);
      }
      50% {
          -webkit-transform: translateY(9px) rotate(0deg);
      }
      100% {
          -webkit-transform: translateY(9px) rotate(135deg);
      }
  }
  
  @keyframes outT {
      0% {
          transform: translateY(0px) rotate(0deg);
      }
      50% {
          transform: translateY(9px) rotate(0deg);
      }
      100% {
          transform: translateY(9px) rotate(135deg);
      }
  } */
  
  /* @-webkit-keyframes inBtm {
      0% {
          -webkit-transform: translateY(0px) rotate(0deg);
      }
      50% {
          -webkit-transform: translateY(-9px) rotate(0deg);
      }
      100% {
          -webkit-transform: translateY(-9px) rotate(135deg);
      }
  }
  
  @keyframes inBtm {
      0% {
          transform: translateY(0px) rotate(0deg);
      }
      50% {
          transform: translateY(-9px) rotate(0deg);
      }
      100% {
          transform: translateY(-9px) rotate(135deg);
      }
  }
  
  @-webkit-keyframes outBtm {
      0% {
          -webkit-transform: translateY(0px) rotate(0deg);
      }
      50% {
          -webkit-transform: translateY(-9px) rotate(0deg);
      }
      100% {
          -webkit-transform: translateY(-9px) rotate(135deg);
      }
  }
  
  @keyframes outBtm {
      0% {
          transform: translateY(0px) rotate(0deg);
      }
      50% {
          transform: translateY(-9px) rotate(0deg);
      }
      100% {
          transform: translateY(-9px) rotate(135deg);
      }
  }
  
  .affix {
      padding: 0;
      background-color: #111;
  }
  
  
  
  
  
  
  .myH2 {
      text-align:center;
      font-size: 4rem;
  }
  .myP {
      text-align: justify;
      padding-left:15%;
      padding-right:15%;
      font-size: 20px;
  }
  @media all and (max-width:700px){
      .myP {
          padding:2%;
      } */ 
  /* }   */